/*Estilos Index */

body{
    padding: 10px;
}

.barra{
    background-color: black;
    overflow: hidden;
}

.barra a{
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

/*Cuando pase el puntero en la casilla de la barra*/

.barra a:hover{
    background-color: rgb(111, 199, 250);
    color:black;
}

/*Creacion de un active*/

.barra a.active{
    background-color: brown;
    color: whitesmoke;
}

li{
    padding-top: 3px;
    padding-bottom: 5px;
}

ol li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
}

ol li a:hover{
    color: blue;
}

.estiloText{
    font-size: 17px;
    text-align: justify;
}

h1{
    font-size: 40px;
}